
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    
}
body{
    background-image: url(.//assets/bg.png);
    background-position: center;
    background-repeat: no-repeat ;
    background-size: cover;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 60px;
    color: #ffffff;
    padding: 20px 60px;
    
    
}
nav div img{
    height: 20px;
    margin-left: 50px;
    
}
.line{
    border-left:1px solid #fff;
    height: 40px;
    margin-left: 30px;
}
.hero{
    
    margin: 5% 30%;
}
.hero-heading{
    font-family: sans-serif;
    font-size: 70px;
    color: #fff;
    text-align: center;
}
.hero-description{
    font-size: 25px;
    color:#fff;
    text-align: center;
}
.button-large{
    margin-top: 40px;
    margin-left: 160px;

}
 .button-small{
    
    margin-left: 500px;
    background-color: rgb(194, 3, 252);;
    border-radius: 5px;
    border: none;
    padding:  10px 20px;
    color: #ffffff;
}
 .button-large{
     background-color:rgb(194, 3, 252);
    border-radius: 10px;
    border: none;
    padding:  10px 20px;
    color: #ffffff;
    font-size: 25px;
    text-align: center;
}  
    
